*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: #f7becd;
}
.app__top {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  position: relative;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 20px 10px;
  margin: auto;
}
.app__mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.app__person {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.app__heart{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.app__avatar {
  width: 110px;
  height: 110px;
  min-width: 110px;
  min-height: 110px;
  border-radius: 50%;
  border: 1px solid #fc016b;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
  transition: all linear 0.3s;
  position: relative;
}
.app__avatar:hover {
  filter: brightness(110%);
  background-size: 105%;
}
.app__name {
  margin-top: 12px;
  font-size: 24px;
  font-weight: bold;
  color: #fc016b;
}
.app__total {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #fc016b;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
  position: relative;
}
.app__total strong {
  font-size: 56px;
  color: black;
}
.app__total span {
  font-size: 28px;
  color: #fc016b;
  line-height: 1;
  font-weight: bold;
}
.app__body {
  position: relative;
}
.app__images,
.app__images .slick-list,
.app__images .slick-track,
.app__images .slick-slide,
.app__images .slick-slide div,
.app__images .slick-slide div img {
  height: 100%;
}
.app__images .slick-slide div img {
  width: auto !important;
}
.app__images .slide-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 46px;
  height: 46px;
  border: 0;
  outline: 0;
  border-radius: 50%;
  opacity: 0.4;
  cursor: pointer;
}
.app__images .slide-arrow:hover {
  opacity: 1;
}

.app__images .prev-arrow {
  left: 12px;
}
.app__images .next-arrow {
  right: 12px;
}
.app__images img {
  cursor: pointer;
  transition: all linear 0.3s;
}
.app__images img:hover {
  filter: brightness(110%);
}
.app__sticker {
  width: 80px;
  background-size: contain;
  background-position: bottom;
  pointer-events: none;
}
.app__sticker--left {
  transform: scaleX(-1);
}
.app__run {
  position: absolute;
  bottom: 0;
  left: -80px;
  width: 80px;
  height: 80px;
  animation: run 20s linear 3s infinite;
  z-index: 99;
  pointer-events: none;
}

@keyframes run {
  0% {
    left: -80px;
  }
  100% {
    left: 100%;
  }
}

.audio {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 999;
}
.audio__info{
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}
.audio__name{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  font-style: italic;
  margin-right: 6px;
}
.audio__time{
  font-weight: bold;
  font-size: 12px;
  color: #fc016b;
}
.audio__music {
}
.audio__action {
  display: flex;
}
.btn {
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #fc016b;
  color: #fc016b;
  cursor: pointer;
  transition: all ease 0.3s;
  margin-right: 4px;
}
.btn:hover {
  transform: scale(1.1);
}
.btn__play i {
  display: none;
}
.btn__play .active {
  display: block;
}
.btn__play {
}
.btn__change {
}
.app__dance{
  position: absolute;
  bottom: 0;
  left: 20px;
  z-index: 9;
  display: none;
  pointer-events: none;
}
.app__dance--right{
  left: unset;
  right: 20px;
}
.app__dance.active{
  display: block;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
}
.modal.active{
  opacity: 1;
  visibility: visible;
}
.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  padding: 30px 60px;
  background-color: white;
  z-index: 9999;
  border-radius: 24px;
  max-width: 560px;
  border: 1px solid #fc016b;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.5s;
}
.popup.active{
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.popup__content{
  font-size: 24px;
  text-align: center;
}
.popup__content strong{
  color: #fc016b;
}
.popup__action{
  display: block;
  width: fit-content;
  margin: auto;
  padding: 8px 12px;
  background-color: #f7becd;
  font-size: 24px;
  color: #fc016b;
  border-radius: 12px;
  margin-top: 15px;
  border: 1px solid #fc016b;
  cursor: pointer;
  transition: all ease 0.3s;
}
.popup__action:hover{
  background-color: #fc016b;
  color: white;
}
.app__circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  height: 140%;
  pointer-events: none;
}
@media (max-width: 1024px) {
  .app__top {
  }
  .app__body {
  }
  .app__dance iframe{
    width: 60px !important;
    height: 60px !important;
  }
}
@media (max-width: 739px) {
  .app__top {
  }
  .app__body {
  }
  .app__avatar {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
  }
  .app__total {
    width: 120px;
    height: 120px;
    min-width: 120px;
    min-height: 120px;
  }
  .app__total strong {
    font-size: 42px;
  }
  .app__total span {
    font-size: 18px;
  }
  .app__name {
    font-size: 18px;
  }
}

