.stage-container {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent !important;
  pointer-events: none;
}
@media (max-width: 840px) {
  .stage-container {
    border: none;
    margin: 0;
  }
}
.canvas-container {
  width: 100%;
  height: 100%;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}
.canvas-container canvas {
  position: absolute;
  mix-blend-mode: lighten;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
